h1 {
    color:burlywood;
    background-color: darkslategrey;
    text-align: center;
    margin: 20px 200px;
    font-size: 50px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 900;
    font-style: oblique;
    border-top: 20px burlywood;
    border-right: 20px coral;
    border-color: burlywood;
    border-style: groove;
}

img {
    display: block;
    margin: auto;
    border-radius: 50px;
    border: 50px groove darkslategray;
    
    
}

h2 {
    color:burlywood;
    background-color: darkslategrey;
    text-align: center;
    margin: 20px 340px;
    font-size: 50px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 900;
    font-style: oblique;
    border-top: 20px burlywood;
    border-right: 20px coral;
    border-color: burlywood;
    border-style: groove;
}

p {
    display: block;
    background-color: rgba(222, 184, 135, 0.5);
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    margin: 20px 100px;
}

h3 {
    color: burlywood;
    background-color: darkslategray;
    font-size: 30px;
    
}

h3.short-background {
    margin-right: 500px;
}

ol {
    list-style-type: upper-roman;
}

ul,
ol {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 100px;
}

li {
    margin-bottom: 30px;
    background-color: blanchedalmond;
}